<!DOCTYPE html>
<html>

<head>
		<title>實習趣管理員後台</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/Admin_assets/css/main.css" />

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="css/Admin_css/bootstrap.min.css">
		<link rel="stylesheet" href="css/Admin_css/line-icons.css">
		<link rel="stylesheet" href="css/Admin_css/main.css">
		<link rel="stylesheet" href="css/Admin_css/adjust.css">


		<!-- 實習趣聊天室 Code -->
		<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/8899112.js"></script>
		<!-- 實習趣聊天室 End Code -->
</head>

<body class="is-preload">

	<!-- Header -->
	<div id="header">

		<div class="top">

			<!-- Logo -->
			<div id="logo">
				<span class="image avatar48" style="clip-path: circle(50% at 50% 50%);"><img
						src="img/Admin_images/avatar1.png" alt="" /></span>
				<h1 id="title">Admin</h1>
				<p>@實習趣管理員</p>
			</div>
			<br>
			<!-- Nav 左邊側邊欄位的主選單-->
			<nav id="nav">
				<ul class="navlinklay">
					<!-- <li><a href="#top" id="top-link"><span class="icon solid fa-home">主頁</span></a></li> -->
					<li>
						<span class="icon solid fa-user"></span><span>實習生清單</span>
					</li>
					<li>
						<span class="icon solid fa-user"></span><span>實習生註冊成功</span>
					</li>
					
					<br>
					<br>
					<li>
						<span class="icon solid fa-th"></span><span>信件回覆</span>
					</li>
					<li>
						<span class="icon solid fa-th"></span><span>待回覆信件</span>
					</li>
					<li>
						<span class="icon solid fa-th"></span><span>已回覆信件</span>
					</li>
					
					<br>
					<br>
					

				</ul>
			</nav>
			<a href="admimsignin.html"><button>登出</button>　</a>
			<!-- Nav 左邊側邊欄位的主選單 結束-->
		</div>



		<div class="bottom">
			

		</div>

	</div>


	<!-- Main 右側區清單區塊-->
	<div id="main">





			<!-- Main 右側區清單區塊-->
			
	</div>

	<!-- Footer -->
	<div id="footer" class="fixed-bottom">

		<!-- Copyright -->
		<ul class="copyright">
			<li>&copy; 實習趣. 版權所有</li>
			<li>資策會 <a href="https://www.iiiedu.org.tw/f2e/">前端工程師養成班學員製作</a></li>
		</ul>
	</div>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.scrolly.min.js"></script>
	<script src="assets/js/jquery.scrollex.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>
	<!-- JAVASCRIPTS -->
	<script src="layout/scripts/jquery.min.js"></script>
	<script src="layout/scripts/jquery-ui.min.js"></script>
	<script src="layout/scripts/jquery.backtotop.js"></script>
	<script src="layout/scripts/jquery.mobilemenu.js"></script>
	<!-- IE9 Placeholder Support -->
	<script src="layout/scripts/jquery.placeholder.min.js"></script>
	<script src="assets/js/jquery-min.js"></script>
	<script src="assets/js/popper.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/jquery.mixitup.js"></script>
	<script src="assets/js/jquery.counterup.min.js"></script>
	<script src="assets/js/waypoints.min.js"></script>
	<script src="assets/js/wow.js"></script>
	<script src="assets/js/jquery.nav.js"></script>
	<script src="assets/js/jquery.easing.min.js"></script>
	<script src="assets/js/nivo-lightbox.js"></script>
	<script src="assets/js/jquery.slicknav.js"></script>
	<script src="assets/js/main.js"></script>
	<script src="assets/js/form-validator.min.js"></script>
	<script src="assets/js/contact-form-script.min.js"></script>
	<script src="assets/js/map.js"></script>
	<script src="js/sign/sign.js"></script>
	<!-- / IE9 Placeholder Support -->
</body>

</html>