<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>實習趣-你最佳的好幫手</title>
    <link rel="icon" href="img/ico/favicon.ico" type="image/x-icon" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css" >
    <!-- Fonts -->
    <!-- <link rel="stylesheet" type="text/css" href="assets/fonts/font-awesome.min.css"> -->
    <!-- Icon -->
    <link rel="stylesheet" type="text/css" href="assets/fonts/simple-line-icons.css">
    <!-- Slicknav -->
    <!-- <link rel="stylesheet" type="text/css" href="assets/css/slicknav.css"> -->
    <!-- Menu CSS -->
    <!-- <link rel="stylesheet" type="text/css" href="assets/css/menu_sideslide.css"> -->
    <!-- Slider CSS -->
    <!-- <link rel="stylesheet" type="text/css" href="assets/css/slide-style.css"> -->
    <!-- Nivo Lightbox -->
    <!-- <link rel="stylesheet" type="text/css" href="assets/css/nivo-lightbox.css" > -->
    <!-- Animate -->
    <!-- <link rel="stylesheet" type="text/css" href="assets/css/animate.css"> -->
    <!-- Main Style -->
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">
    <!-- Responsive Style -->
    <!-- <link rel="stylesheet" type="text/css" href="assets/css/responsive.css"> -->
    <!-- <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css"> -->
    <!-- css -->
    <!-- <link type="text/css" media="all" href="./css/login_1_main.css" rel="stylesheet" /> -->
    <!-- <link type="text/css" media="all" href="./css/login_1_tabs.css" rel="stylesheet" /> -->
  
    <!-- js -->
    <!-- <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script> -->
    <!-- <script type="text/javascript" src="./js/login_1_tabs.js"></script> -->


    <!-- 測試 -->
    <!-- 上傳學生證 -->
	<link rel="stylesheet" type="text/css" href="../lib/login_2_UnoDropZone.css">
  <link rel="stylesheet" href="./css/login_2.css">
  <link rel="stylesheet" href="css/public.css">
  <link rel="stylesheet" href="css/signin/signin.css">
  <link rel="stylesheet" href="css/search/search.css">
	<title>公司註冊</title>
  <link href="navbar_css_icon/styles/navbar.css" rel="stylesheet" type="text/css" media="all">
  </head>
  <body>

    <!-- Header Area wrapper Starts -->
    <header id="header-wrap">
      <!-- Navbar Start -->
      <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar indigo navbarNoMove">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              <span class="icon-menu"></span>
              <span class="icon-menu"></span>
              <span class="icon-menu"></span>
            </button>
            
          <div class="navlogo">
            <a href="index"><img class="lconlogo" src="img/logo/logo.png" alt="">
            </a>
            <a href="index"><img class="lconlogo" src="img/logo/logowhite.png" alt="">
            </a>
            <!-- <a href="/index" class="navbar-brand">
              <h1>實習趣</h1> -->
            </a>
          </div>
          </div>
          <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="onepage-nev navbar-nav mr-auto w-100 justify-content-end clearfix">

              <li class="nav-item active">
                <a class="nav-link" href="/search">
                  實習職缺
                </a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href="">
                  關於實習趣
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="">
                  聯絡我們
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/signincompany">
                  登入
                </a>
              </li>
            </ul>
          </div>
        </div>

        <!-- Mobile Menu Start -->
        <ul class="onepage-nev mobile-menu">
          <li>
            <a href="#home">Home</a>
          </li>
          <li>
            <a href="#about">about</a>
          </li>
          <li>
            <a href="#services">Services</a>
          </li>
          <li>
            <a href="#resume">resume</a>
          </li>
          <li>
            <a href="#portfolio">Work</a>
          </li>
          <li>
            <a href="#contact">Contact</a>
          </li>
        </ul>
        <!-- Mobile Menu End -->
      </nav>
      <!-- Navbar End -->

    <br>
    <br>

    <!-- Services Section End -->
    <section id="services" class="services section-padding">
      <h2 class="section-title wow flipInX" data-wow-delay="0.4s">公司註冊</h2>
      <div class="container">
        <div class="row">
          <!-- 左邊空白card -->
          <div class="col-3">

          </div>
          <!-- 左邊空白card-End -->

          
          <!-- Services item -->
          <div id="my_tabs" class="col-6 styled_tabs fatherSignLay ">
            <div class="services-item  fadeInDown fontSizeSet signLay"  id="signFirstPart">

              <div class="services-content " >
                <div>
                  <label for="" class="labelLay">帳&emsp;&emsp;號：</label><input type="text" class="form-control signInputLay"
                    name="account" placeholder="" id="cAccount">
                </div>

                <div>
                  <label for="" class="labelLay">密&emsp;&emsp;碼：</label><input type="password" class="form-control signInputLay"
                    name="password" placeholder="" id="cPassword">
                </div>

                <div>
                  <label for="" class="labelLay">確認密碼：</label><input type="password" class="form-control signInputLay"
                    name="confirmPassword" placeholder="" id="cPasswordComfirm">
                </div>

                <div>
                  <label for="" class="labelLay">公司名稱：</label><input type="text" class="form-control signInputLay"
                    name="userName" placeholder="" id="cName">
                </div>

                <div>
                  <label for="" class="labelLay">信&emsp;&emsp;箱：</label><input type="text" class="form-control signInputLay"
                    name="eMali" placeholder="" id="cEmail">
                </div>

                <div>
                  <label for="" class="labelLay">電&emsp;&emsp;話：</label><input type="text" class="form-control signInputLay"
                    name="phone" placeholder="" id="cPhone">
                </div>

                <div class="text-center">
                  <a href="/signincompany"><input type="button" name="previous" class="btn btn-outline-common" value="返回"></a>
                  <input type="button" name="next" class="btn btn-common" value="確認" id="cSignUpConfirm">
                </div>
              </div>
            </div>

            
          </div>
          <!-- Services item -->


          <!-- 右邊空白card -->
          <div class="col-3">
            
          </div>
          <!-- 右邊空白card-End -->
        </div>
      </div>
    </section>
    <!-- Services Section End -->

    <!-- Services Section End -->
    
          <!-- Services item -->

          <div class="col-md-6 col-lg-4 col-xs-12">
            
          </div>
        </div>
      </div>
    </section>
    <!-- Services Section End -->


    <!-- Resume Section Start -->
    <!-- <div id="resume" class="section-padding"> -->

    <!-- Resume Section End -->

    <!-- Footer Section Start -->
    <footer class="footer-area section-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="footer-text text-center wow fadeInDown" data-wow-delay="0.3s">
              <!-- <ul class="social-icon">
                <li>
                  <a class="facebook" href="#"><i class="icon-social-facebook"></i></a>
                </li>
                <li>
                  <a class="twitter" href="#"><i class="icon-social-twitter"></i></a>
                </li>
                <li>
                  <a class="instagram" href="#"><i class="icon-social-instagram"></i></a>
                </li>
                <li>
                  <a class="instagram" href="#"><i class="icon-social-linkedin"></i></a>
                </li>
                <li>
                  <a class="instagram" href="#"><i class="icon-social-google"></i></a>
                </li>
              </ul> -->
              <p>實習趣. 版權所有</p><p>資策會 <a href="https://www.iiiedu.org.tw/f2e/">前端工程師養成班學員製作</a></p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Go to Top Link -->
    <a href="#" class="back-to-top">
      <i class="icon-arrow-up"></i>
    </a>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="assets/js/jquery-min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.mixitup.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/wow.js"></script>
    <script src="assets/js/jquery.nav.js"></script>
    <script src="assets/js/jquery.easing.min.js"></script>  
    <script src="assets/js/nivo-lightbox.js"></script>
    <script src="assets/js/jquery.slicknav.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/form-validator.min.js"></script>
    <script src="assets/js/contact-form-script.min.js"></script>
    <script src="assets/js/map.js"></script>
    <script src="js/sign/sign.js"></script>  
    <script src="js/sweetalert/sweetalert.min.js"></script>
    <script src="js/ajaxrequest/signup.js"></script>
    <script src="js/quick.js"></script>
  </body>
</html>
