.company-file{
    margin:auto;
}
.company-detail{
    font-size:15px;
}
.company-detail-1{
    font-size:18px;
}
.btn-job{
    float:right;
}
/* .nav-item{
    font-size:18px;
} */
/* .tab-content{
    text-align:center;
} */
.img {
    max-width: 120px; 
    max-height: 120px;
    margin: 5px;
}

.btn-common-1{
    color: #fff;
    background-color: #b3bbbd;
    position: relative;
    z-index: 1;
}

.btn-common-1:hover {
    color: #fff;
    background-color: #959d9e;
    box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}
.btn-outline-common-1{
    background-color: white;
    color: black;
    border-color: #00b4d9;
    position: relative;
    z-index: 1;
}

.btn-outline-common-1:hover {
    color: #00b4d9;
    box-shadow: 0 6px 22px rgba(0, 180, 217,.2);
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}
.btn-outline-common:focus{
    color: #00b4d9;
}

.preview-company-images{
    margin:auto;
}

.h5{
    font-size:18px;
}


.controldiv >div {
    display: block;
}

.section-title {
    font-size: 20px;
}

body {
background-color: #f2eade;

/* background-image: url(../../img/bg/searchbg3.jpg); */
/* object-fit: contain; */

/* background-size: cover; */
background-repeat: no-repeat;
background-position: center center;

background-attachment: fixed;
}








.resumeDetail_company{
    display: inline-block;
    vertical-align: middle;
  }


  /* .signInputLay_company{
    display: inline-block; 
    width: 60%;
    color: black !important;
    height: 38px;
} */
/* vertical-align: middle; */


/* .simulationInput_company{
    border:1px solid rgba(0,0,0,0.1);
    width:100%; 
    padding:8px ;
    text-align:left ; 
    cursor: pointer;
} */
/* margin-bottom: 20px; */


.services-item-add {



    background-image: url(../../img/bg/search_page_row.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    object-fit: cover;



    /* background: #fff; */
    border-radius: 10px;
    padding: 48px 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
}

.labelLay-add{
    display: inline-block; 
    /* width: 30%; */
    text-align: right;
    vertical-align: middle;
    /* border: 1px solid black; */
    padding-bottom:11px ;
}

.labelLay-add-company{
    display: inline-block; 
    /* width: 30%; */
    text-align: right;
    vertical-align: top;
    /* border: 1px solid black; */
    padding-bottom:11px ;
}
.signInputLay-add{
    display: inline-block; 
    width: 60%;
    color: black !important;
    height: 38px;
    vertical-align: middle;
}

.labelLay-add-area{
    text-align: right;
    display: inline-block; 
    vertical-align: top;
}

/* .signInputLay-add-area{
    display: inline-block; 
    height: 60px;
    width: 60%;
    
    color: black !important;
    height: 38px;
    vertical-align: middle;
} */

.simulationInput-company{
    border:1px solid rgba(0,0,0,0.1);
    width:100%; 
    padding:5px 0px 0px 8px;
    text-align:left ; 
    /* margin-bottom: 20px; */
    cursor: pointer;
}

.signInputLay-company{
    display: inline-block; 
    width: 60%;
    color: black !important;
    height: 38px;
    vertical-align: middle;
}




.section-title-company{
    font-size: 20px;
    text-align: center;
    margin-bottom: 25px;
  }



  .text_member_tips_company > img {
    height: auto;
    width:  600px;
  
  }