.stCardContent{
    /* background-color: rgba(0, 0, 0, 0); */
    border: none;
    text-align: center;
    max-height: 83vh;
}

.sborder{
    border: none;
    height: 20px;
}

.closeX{
    font-size: 30px;
    color: black;
}

.imgSize{
    margin-bottom: 5px;
    width: 350px;
    height: 240px;
    object-fit: contain;
}